<div class="container courses-container">
    <div class="row course-box-container">
        <% @courses.each do |course| %>
            <div class="col-4 course-box">
                <%= link_to image_tag("/programming.jpg", :class => "hvr-float"), course_path(course.id) %>
                <span class="course-name"><%= course.name %></span><br>
                <span class="program-name"><%= course.program_name %></span>
                <span class="course-code">- <%= course.course_code %></span>
                <span class="uni-name">- <%= course.uni_name %></span>
            </div>
        <% end %>
    </div>
</div>